.mr-2 {
    margin-right: 2% !important;
}
.mr-4 {
    margin-right: 4% !important;
}
.mr-6 { 
    margin-right: 6% !important;
}
.mr-8 {
    margin-right: 8% !important;
}
.mr-10 {
    margin-right: 10% !important;
}
.text-right{
    text-align: right;
}